.Wrapper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-top: 8rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.Left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.Img {
  width: 400px;
}

.Right {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  align-items: center;
  justify-content: center;
}

.Right .Caption {
  color: #ef4f4f;
}

.Right p {
  color: #706f6f;
  font-weight: 900;
  display: block;
  margin-top: 15px;
  text-align: center;
}

/* responsive area */

@media only screen and (max-width: 1000px) {
  .Wrapper {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  .Right {
    display: none;
  }
}

@media only screen and (max-width: 1920px) {
  .Right {
    flex: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .Right {
    display: none;
  }
}
